.navbar {
    background-color: transparent;
    backdrop-filter: blur(10px); 
    width: 100%;
    position: relative;
    margin-right: 10%;
    font-family: 'josefin sans';
    font-weight: bold;
}

.navbar-brand{
    font-family: 'Satisfy';
    text-shadow: 
    0 0 5px #fff,  
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #ffffff,
    0 0 75px #ffffff; 
}

.nav-item {
    padding-top: 10px;
}

.btn img{
    width: 38px;
    height: auto;
}


.banner{
    background-color: #2980B9;
}

.banner img {
    max-width: 100%; 
}

.text-center img {
    justify-content: center;
}

header {
    padding-bottom: 20%;
    padding-top: 5%;
}

body img {
    padding: 10px;
    height: auto;
    width: 100%;
}

.riwayat{
    background-color: white;
    text-align: center;
    font-family: 'lilita one';
    padding-top: 70px;
}

.riwayat{
    margin-bottom: 50px;
    font-family: 'lilita one';

}

.riwayat p{
    margin-bottom: 60px;
}

.pengalaman {
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin: 0 auto; 
    padding-bottom: 50px;
    font-family: 'Josefin Sans';
}

.pegalaman h3 {
    flex-basis: 50%; 
    text-align: center; 
}


.skill{
    background-color: aqua;
    padding-top: 40px;  
    font-family: 'lilita one';
    text-align: center;
}

.sertifikat{
    background-color:white;
}

.sertifikat h2{
    padding-top: 2em;
    text-align: center;
    font-family: 'lilita one';
}

.sertifikat p{
    font-family: 'josefin sans';
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-title{
    font-weight: bold;
}
.card-text{
    text-align: left;
    
}

.card{  
    flex-basis: calc(30% - 10px);
    align-items: center;
    margin: 0 .5em;
    justify-content: space-between;
    font-family: 'josefin sans';
    flex: 1;
    margin-right: 10px;
}

.card img {
   width: 90px;
}

body {
    margin: 0;
}

footer {
    background-color: rgba(17, 13, 13, 0.7);
    color: #fff; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    font-family: 'josefin sans'; 
}

.datadiri, .socmed {
    flex: 1; 
    padding: 0 10px; 
}

.datadiri h3, .socmed h3 {
    margin-top: 0; 
}

.footer-copyright {
    background-color: #095c94;
    justify-content: center;
    padding: 0;
    padding-top: 10px;
}


.social-icon {
    display: flex;
    align-items: end;
    justify-content: right; 
    margin-top: 20px; 
}

.social-icon img {
    width: 50px;
    height: auto;
    margin: 0 5px; 
    display: flex;
    flex-direction: column;
}

.carousel-item img {
    max-width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introducing {
    display: inline-block;
    position: relative;
    left: 30px;
    font-family: 'lilita one';
}

.introducing::before {
    content: "";
    position: absolute;
    top: 40%;
    left: -30px;
    width: 24px;
    border-top: 2px solid black; /
}

.intro{
    font-family: 'lilita one';
}
.nama {
    text-align: left;
    font-family: 'lilita one';
}

.tentang {
    text-align:left;
    font-size: medium;
    font-weight: bold;
    font-family: 'josefin sans';
}

.stroke-text {
    -webkit-text-stroke: 1px rgb(255, 255, 255); 
        color: transparent; 
}

.vertical-line {
    border-left: 2px solid black;
    height: 17vh;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #000000;
    transform: translateX(-50%);
}

.timeline-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
}

.timeline-item {
    margin-bottom: 50px;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item::after {
    content: '';
    display: table;
    clear: both;
}

.timeline-item .timeline-content {
    position: relative;
    width:46%;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.timeline-item .timeline-content h2 {
    margin-top: 0;
    color: #000000;
}

.timeline-item .timeline-date {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
}

.split-background {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-section {
    height: 50%; 
    background-color: #2980B9;
}
